
*{
  transition: 0.5s ;
  box-sizing: border-box ;
}

body{
  margin:  0;
  padding: 0;
}
.bot_container{
  width: 90% ;
  max-width: 400px ;
  background: skyblue ;
  margin:0  auto ;
    border-radius: 0.3rem ;
    padding: 5%;
    background: url("https://c.tenor.com/OB3YK8wRFxAAAAAC/o2-love-island.gif") no-repeat center center/cover;
    height: 100vh;
    max-height: 600px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
position: relative ;
}
h3{
  opacity: 0;
}

.show{
  opacity: 1 ;
}
button{
  border-radius: 0.3rem ;
  display: block;
  margin: 1rem auto ;
  background: skyblue ;
  border: 0.1rem solid blue ;
  font-size: 1.5rem ;padding:0 0.5rem;
}
.joke{border-radius: 0.5rem;
  padding:0.2rem 1rem;
  margin: 0 auto;
  background: rgba(135, 206, 235,0.5);
}


h3{
  text-align: center;
  background: transparent;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
  color: yellow;
}